@import "~@react-md/divider/dist/mixins";
@import "~@react-md/theme/dist/mixins";
@import "~@react-md/form/dist/mixins";

.Container {
  max-width: 360px;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
}

.textWrap {
  padding: 1rem 2rem 1rem 1rem;
  background-color: var(--bg);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
}

.tooltip {
  background-color: #111111;
  color: #ffffff;
  position: absolute;
  top: -25px;
  right: -10px;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 5px;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #111111;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.clipboardText {
  margin: auto 0.5rem;
}
