@import "./theme";

@import "~@react-md/theme/dist/color-palette";
$rmd-theme-dark-elevation: true;
$rmd-theme-light: false;
$rmd-theme-primary: $rmd-blue-grey-500;
$rmd-theme-secondary: $rmd-amber-a-400;
//$rmd-theme-primary: $rmd-purple-500;
//$rmd-theme-secondary: $rmd-pink-a-400;
//$rmd-theme-warning: $rmd-deep-orange-a-200;
//$rmd-theme-error: $rmd-red-500;
//$rmd-theme-success: $rmd-green-a-700;
//$rmd-theme-light-background: #fafafa;
//$rmd-theme-light-surface: #fff;
//$rmd-theme-dark-background: #303030;
//$rmd-theme-dark-surface: $rmd-grey-800;

@import "~react-md/dist/react-md";
@include react-md-utils;

@media (prefers-color-scheme: dark) {
  :root {
    @include rmd-theme-dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include rmd-theme-light;
  }
}

body.dark,
.dark-theme {
  @include rmd-theme-dark;
}

body.light,
.light-theme {
  @include rmd-theme-light;
}

//@mixin rmd-app-bar-action-position($first) {
//  @if $first {
//    @include rmd-utils-rtl-auto(margin-left, auto);
//  } @else {
//    @include rmd-utils-rtl-auto(margin-right, $rmd-app-bar-lr-margin);
//  }
//}

//.rmd-app-bar__action {
//  @include rmd-app-bar-action;
//  @include rmd-utils-rtl-auto(margin-right, "1rem");
//}

.grid {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
}

.elevation {
  @include rmd-elevation(5);
  @include rmd-theme-dark-elevation(5, true);
}