@import "./theme";
@import "~react-md/dist/react-md";

@import "~@react-md/theme/dist/color-palette";
$rmd-theme-light: false;
$rmd-theme-primary: $rmd-blue-grey-500;
$rmd-theme-secondary: $rmd-pink-a-200;

@include react-md-utils;

@media (prefers-color-scheme: dark) {
  :root {
    @include rmd-theme-dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include rmd-theme-light;
  }
}
