@import "~@react-md/theme/dist/color-palette";

@import "~react-md/dist/react-md";

@include react-md-utils;

body.light {
  @include rmd-theme-light;
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #f50057;
  --hr: hsla(0, 0%, 0%, 0.2);
  --darkToggle: #fff9c4;
  --lightToggle: #626262;
  --navbar: #607d8b;
  --navItem: #212121;
  background-color: var(--bg);
}

body.dark {
  @include rmd-theme-dark;
  -webkit-font-smoothing: antialiased;

  --bg: #303030;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: rgba(255, 255, 255, 0.12);
  --darkToggle: #ffeb3b;
  --lightToggle: #f5f5f5;
  --navbar: #212121;
  --navItem: #f5f5f5;
}
