body.light {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #f50057;
  --hr: hsla(0, 0%, 0%, 0.2);
  --darkToggle: #ffa000;
  --lightToggle: #424242;

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #303030;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: rgba(255, 255, 255, 0.12);
  --darkToggle: #ffeb3b;
  --lightToggle: #fefefe;
}
